[
    {oz_worker, [
        {external_ip, "149.156.11.33"},

        %% DNS config
        % Static mappings from onezone subdomain to list of ips.
        % Full domain will be based on http_domain as set in this config
        % file.
        % The subdomain must be a binary and must not begin or end
        % with the dot character.
        % Example:
        % {static_entries, [
        %     {<<"example-subdomain">>, [{10,0,0,1}, {10,0,0,2}]}
        % ]}
        {dns_static_a_records, [
            {<<"www">>, [{149, 156, 11, 33}]},
            {<<"bamboo">>, [{149, 156, 182, 32}]},
            {<<"docker">>, [{149, 156, 11, 25}]},
            {<<"docs">>, [{149, 156, 182, 43}]},
            {<<"get">>, [{149, 156, 11, 26}]},
            {<<"git">>, [{149, 156, 182, 46}]},
            {<<"jira">>, [{149, 156, 182, 34}]},
            {<<"ns.dev">>, [{149, 156, 10, 221}]},
            {<<"ns.k8s-cyf.dev">>, [{149, 156, 10, 221}]},
            {<<"ns1.beta">>, [{90, 147, 102, 149}]},
            {<<"ns2.beta">>, [{90, 147, 102, 149}]},
            {<<"ns1.demo">>, [{149, 156, 182, 28}]},
            {<<"ns2.demo">>, [{149, 156, 182, 28}]},
            {<<"p-cyfro">>, [{90, 147, 102, 179}]},
            {<<"p-lab">>, [{90, 147, 102, 178}]},
            {<<"packages">>, [{149, 156, 11, 26}]},
            {<<"packages.devel">>, [{149, 156, 182, 16}]}
        ]},

        % Static ns entries. Each tuple should contain a subdomain name
        % and a list of nameserver domains.
        % Example:
        % {dns_static_ns_records, [
        %     {<<"example-subdomain">>, [
        %         <<"ns1.example-subdomain.onezone.org">>
        %     ]}
        % ]}
        {dns_static_ns_records, [
            {<<"beta">>, [
                <<"ns1.beta.onedata.org">>,
                <<"ns2.beta.onedata.org">>
            ]},
            {<<"demo">>, [
                <<"ns1.demo.onedata.org">>,
                <<"ns2.demo.onedata.org">>
            ]},
            {<<"dev">>, [
                <<"ns.dev.onedata.org">>
            ]},
            {<<"k8s-cyf.dev">>, [
                <<"ns.k8s-cyf.dev.onedata.org">>
            ]}
        ]},

        % Static mx entries. Each tuple should contain a subdomain,
        % email server name and preference (integer).
        % Example:
        % {dns_static_mx_records, [
        %     {<<"">>, <<"mail.onezone.org">>, 10}
        % ]}
        {dns_static_mx_records, [
            {<<"">>, <<"ASPMX.L.GOOGLE.COM">>, 1},
            {<<"">>, <<"ALT1.ASPMX.L.GOOGLE.COM">>, 5},
            {<<"">>, <<"ALT2.ASPMX.L.GOOGLE.COM">>, 5},
            {<<"">>, <<"ALT3.ASPMX.L.GOOGLE.COM">>, 10},
            {<<"">>, <<"ALT4.ASPMX.L.GOOGLE.COM">>, 10}
        ]},

        % Static txt entries. Each tuple should contain a name and content.
        % Both name and content should be a binary.
        % Example:
        % {dns_static_txt_records, [
        %     {<<"record-name">>, <<"record-value">>}
        % ]}
        {dns_static_txt_records, [
            {<<"">>, <<"v=spf1 include:_spf.google.com ~all">>}
        ]},

        %% SOA record parameters
        % Nameserver admin mailbox
        {dns_soa_admin_mailbox, "info.onedata.org"},
        % This value must be incremented on every update of this config file
        {dns_soa_serial, 2018080601}
    ]}
].
