[
    {oz_worker,[
        {enable_global_groups, true},

        {dns, [
            %% ===================================================================
            %% Static DNS entries
            %% ===================================================================

            %% All record names specified below should only contain the subdomain
            %% part which will be concatenated to the onezone domain.
            %% Subdomain can be left blank (<<>>) to create records
            %% for the onezone domain itself.

            % Static a entries.
            % The subdomain must be a binary and must not begin with the dot character.
            % IPs should be given as a list of tuples
            % Example:
            % {static_a_records, [
            %     {<<"example-subdomain">>, [{10,0,0,1}, {10,0,0,2}]}
            % ]}
            {static_a_records, [
                {<<"pancancer-cyf">>, [{149,156,10,196}]},
                {<<"mail">>, [{149,156,11,34}, {149,156,11,35}]}
            ]},

            % Static ns entries. Each tuple should contain a subdomain name
            % and a list of nameserver domains.
            % Example:
            % {static_ns_records, [
            %     {<<"example-subdomain">>, [
            %         <<"ns1.example-subdomain.onezone.org">>
            %     ]}
            % ]}
            {static_ns_records, []},


            % Static txt entries. Each tuple should contain a subdomain and
            % value.
            % Both subdomain and value should be a binary.
            % Example:
            % {static_txt_records, [
            %     {<<"example-subdomain">>, <<"record-value">>}
            % ]}
            {static_txt_records, []},

            % Static mx entries. Each tuple should contain a subdomain,
            % email server name and preference (integer).
            % Example:
            % {static_mx_records, [
            %     {<<"">>, <<"mail.onezone.org">>, 10}
            % ]}
            {static_mx_records, [{<<>>, <<"mail.datahub.egi.eu">>, 10}]},

            % Static cname entries. Each tuple should
            % contain the name (alias, realtive to onezone domain) and domain it should point to.
            % Example:
            % {static_cname_records, [
            %     {<<"www">>, <<"onezone.org">>}
            % ]}
            {static_cname_records, []},

            %% ===================================================================
            %% DNS configuration
            %% ===================================================================

            % maximum number of ips to be presented as subdomain
            % ns1, ns2, ns3 etc. in NS records
            {ns_max_entries, 10},

            % minimum number of resolved nsX domains. If the number specified
            % is higher than number of oz_worker nodes, some domains will resolve
            % to the same IP address. Must not be higher than ns_max_entries
            % Use this option if your domain registrar enforces
            % a minimum number of Nameserver addresses.
            {ns_min_entries, 2},

            %% SOA record parameters
            % Nameserver admin mailbox
            {soa_admin_mailbox, "dns-admin.datahub.egi.eu"},
            % This value must be incremented on every update of this config file
            {soa_serial, 2018062900},
            % Time interval before the zone should be refreshed
            {soa_refresh, 7200},
            % Time interval that should elapse before a failed refresh should be retried
            {soa_retry, 1800},
            % Time value that specifies the upper limit on the time interval that
            % can elapse before the zone is no longer authoritative
            {soa_expire, 1209600},
            % Time a NAME ERROR = NXDOMAIN result may be cached by any resolver
            {soa_minimum, 120},

            {a_ttl, 120},
            {ns_ttl, 120},
            {soa_ttl, 120},
            {txt_ttl, 120},
            {mx_ttl, 120}
        ]}

    ]}
].

